/*
  START Breackpoints
*/
/*
  END Breackpoints
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.button {
  background-color: #FF8311;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.title {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
}

.header {
  background-color: #6F41EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  padding-left: 2rem;
  padding-right: 2rem;
  /*Media queries*/
}

.header__wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: none;
}

.header__list-item {
  margin-left: 1.2rem;
}

.header__list-link {
  color: #fff;
  text-decoration: none;
}

.header__list-link[href="index.html"] {
  font-weight: 700;
}

.header__button {
  font-weight: 700;
  background-color: #FF8311;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.header .fa-caret-down {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner {
  background-color: #414141;
  padding: 4rem 2rem;
  /*Media queries*/
}

.banner .title--banner {
  max-width: 476px;
  font-weight: 400;
}

.banner .title--banner::first-line {
  font-weight: 700;
}

.banner__image {
  max-width: 100%;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner__wrap-left {
    width: 50%;
    padding-right: 2rem;
  }
  .banner__image {
    margin-top: 0;
  }
}

.main-nav {
  color: #414141;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -3px #aaa;
          box-shadow: 0 5px 5px -3px #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2rem;
  margin-bottom: 4rem;
  /*Media queries*/
}

.main-nav__wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: none;
}

.main-nav__list-item {
  margin-right: 1.2rem;
}

.main-nav__list-link {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.main-nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-nav__wrap-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-nav__search-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid #FF8311;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  outline: none;
}

.main-nav__search-input::-webkit-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input:-ms-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input::-ms-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input::placeholder {
  font-size: 12px;
}

.main-nav__search-ico {
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: #FF8311;
  color: #fff;
  padding: 0.5rem;
}

.main-nav__skills {
  display: none;
}

.main-nav__skills-details {
  margin-left: 1rem;
  font-weight: 700;
}

.main-nav__skills-ico {
  color: #09B210;
}

.main-nav__skills-details:last-child .main-nav__skills-ico {
  color: gray;
}

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__wrap-left {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media (min-width: 992px) {
  .main-nav__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-cards {
  overflow-x: scroll;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
  /*Media queries*/
}

.container-cards::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 992px) {
  .container-cards {
    padding-right: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.card {
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 236px;
  background: #fff;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 5px 5px -2px #aaa;
          box-shadow: 0 5px 5px -2px #aaa;
  overflow: hidden;
  /*Media queries*/
}

.card__header {
  color: #fff;
  padding: 1rem;
}

.card__header-main-title {
  font-size: 1rem;
  margin: 0.2rem;
  font-weight: 400;
}

.card__header-sub-title {
  font-size: 0.75rem;
  margin: 0.2rem;
  font-weight: 400;
}

.card__content {
  padding: 1rem;
  overflow: hidden;
}

.card__content-description {
  display: none;
}

.card__content-title-skills {
  font-weight: 600;
}

.card__content-list-skills {
  padding-left: 1rem;
  list-style: square;
}

.card__content-description, .card__content-title-skills, .card__content-list-skills {
  line-height: 1.3rem;
  font-size: 0.88rem;
  margin-top: 0;
}

.card .button--right {
  float: right;
}

.card .button--weight {
  font-size: 0.88rem;
}

@media (min-width: 768px) {
  .card {
    max-width: 300px;
  }
  .card__content-description {
    display: block;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 900px;
    margin-right: 0;
  }
}

@media (min-width: 1312px) {
  .card__content, .card__header {
    padding: 2rem;
  }
  .card__content-description, .card__content-title-skills, .card__content-list-skills {
    line-height: 1.3rem;
    font-size: 1rem;
    margin-top: 0;
  }
  .card__header-main-title {
    font-size: 1rem;
    font-weight: 700;
  }
  .card__header-sub-title {
    font-size: 0.88rem;
  }
}

/*
El codigo de abajo esta vinculado a _base.scss linea 7-----
- Pinta el background del header des los items
puedes agregar mas colores si lo deseas ;)
*/
.card:nth-child(1) .card__header {
  background-color: #367D75;
}

.card:nth-child(2) .card__header {
  background-color: #AB2626;
}

.card:nth-child(3) .card__header {
  background-color: #690BC8;
}

.card:nth-child(4) .card__header {
  background-color: #40367D;
}

.card:nth-child(5) .card__header {
  background-color: #18AF67;
}

.card:nth-child(6) .card__header {
  background-color: #0BA6C8;
}

.feedback {
  margin-bottom: 4rem;
  color: #fff;
  padding: 4rem 2rem;
  background-color: #414141;
}

.feedback__container-github {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__ico {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.feedback .title--feedback {
  margin-top: 0;
}

@media (min-width: 992px) {
  .feedback {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .feedback__bk-image {
    right: 0;
    top: 0;
    position: absolute;
    width: calc(32.3%);
    height: 100%;
    background-image: url("../img/woman-github.png");
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}

.footer {
  color: #fff;
  background-color: #6F41EB;
  padding: 4rem 2rem;
  /*Media queries*/
}

.footer__item-title {
  font-weight: 700;
}

.footer__item-list {
  font-size: 0.75rem;
  padding-left: 1rem;
}

.footer__item-link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */