*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.button {
  background-color: #FF8311;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.title {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
}

.header {
  background-color: #6F41EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header__wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item {
  margin-left: 1.2rem;
}

.header__list-link {
  color: #fff;
  text-decoration: none;
}

.header__list-link[href="index.html"] {
  font-weight: 700;
}

.header__button {
  font-weight: 700;
  background-color: #FF8311;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.header .fa-caret-down {
  margin-left: 0.5rem;
}

.banner {
  background-color: #414141;
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .title--banner {
  max-width: 476px;
  font-weight: 400;
}

.banner .title--banner::first-line {
  font-weight: 700;
}

.main-nav {
  color: #414141;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -3px #aaa;
          box-shadow: 0 5px 5px -3px #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.7rem 2rem;
}

.main-nav__wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__list-item {
  margin-right: 1.2rem;
}

.main-nav__list-link {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.main-nav__search-input {
  margin-left: 1.2rem;
  border: 2px solid #FF8311;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  outline: none;
}

.main-nav__search-input::-webkit-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input:-ms-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input::-ms-input-placeholder {
  font-size: 12px;
}

.main-nav__search-input::placeholder {
  font-size: 12px;
}

.main-nav__search-ico {
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: #FF8311;
  color: #fff;
  padding: 0.5rem;
}

.main-nav__skills-details {
  margin-left: 1rem;
  font-weight: 700;
}

.main-nav__skills-ico {
  color: #09B210;
}

.main-nav__skills-details:last-child .main-nav__skills-ico {
  color: gray;
}
/*# sourceMappingURL=styles.css.map */