.wrap-hero {
  background-color: $dark;

}
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: $dark;
  padding: $space-1;
  padding-bottom: 2rem;
  margin-bottom: $space-4;
  color: white;

  &__title {
    font-size: pxToRem(24);
    line-height: 1.3em;
  }
  &__text {
    font-size: pxToRem(14);
  }
  &__image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__group-text {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  } 
  .radius-shape {
    width: 100%;
    height: 32px;
    background: #fff;
    border-radius: 32px 32px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @media screen and (min-width: $small){
    &__title,
    &__text {
      text-align: center;
    }
    &__group-text {
      max-width: 450px;
    }
    .center-buton {
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (min-width: $mediun){
    & {
      display: flex;
    }
    &__title,
    &__text {
      text-align: left;
    }
    .center-buton {
      display: flex;
      justify-content: flex-start;
    }
  }
}
