.main {
  background-color: $space;
  margin-bottom: $space-4;
  .navigation-items {
    display: flex;
    overflow-x: scroll;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    .icon-item{
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      width: 80px;
      .icon-circle {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 47px;
        height: 47px;
        background-color:$success;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .icon-text {
        font-size: pxToRem(14);
        text-align: center;
        font-weight: 700;
        color: $success;
      }
      &:hover .icon-circle{
        transition: all 400ms ease-in;
        box-shadow: 0 0 0 2px #fff,
        0 0 0 4px rgb(134, 21, 125);
        background-color: rgb(134, 21, 125);
      }
      &:hover .icon-text {
        transition: all 400ms ease-in;
        color: rgb(134, 21, 125);;
      }
    }
  }
  .section{
    padding-left: $space-2;
    margin-bottom: 2rem;
    &__main-title {
      color: $dark;
      font-size: pxToRem(18);
    }
  }

  .card__wrap {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .card {
    flex-shrink: 0;
    margin-right: $space-1;
    padding: $space-1;
    background-color: $dark;
    width: 180px;
    height: 180px;
    border-radius: 8px;
    color: $space;

    &__title {
      font-size: pxToRem(18);
      margin-top: 0;
    }
    &__sub-title {
      font-size: pxToRem(14);
    }
  }
}
.center-button {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.storytime {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  .storytime__wrap {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    color: $dark;
    margin-bottom: 1.5rem;
  }
  &__img {
    width: 100%;
    max-width: 539px;
  }
  &__navigation {
    margin-top: 1rem;
    display: flex;
    .slide__nav {
      border-radius: 50%;
      margin: 0.5rem;
      width: 12px;
      height: 12px;
      background-color: $dark-light;
    }
    .slide__nav:hover {
      background-color: $primary-variant;
    }
  }
}