.banner {
  background-color: $second;
  padding: 4rem 2rem;
  .title--banner {
    max-width: 476px;
    font-weight: 400;

    &::first-line {
      font-weight: 700;
    }
  }
  &__image {
    max-width: 100%;
    margin-top: 2rem;
  }
}