.banner {
  background-color: $second;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title--banner {
    max-width: 476px;
    font-weight: 400;

    &::first-line {
      font-weight: 700;
    }
  }
}