$primary: #6F41EB;
$second: #414141;
$primary-button: #FF8311;
$required: #09B210;
$optional: #808080;

$background-header: #367D75, #AB2626,#690BC8, #40367D, #18AF67, #0BA6C8;

/*
  START Breackpoints
*/
$small: 480px;
$tablet: 768px;
$mediun: 992px;
$large: 1312px;
/*
  END Breackpoints
*/

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.button {
  background-color: $primary-button;
  display: inline-flex;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.title {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
}