$primary: #6F41EB;
$second: #414141;
$primary-button: #FF8311;
$required: #09B210;
$optional: #808080;
$color1: #367D75;
$color2: #AB2626;
$color3: #690BC8;
$color4: #40367D;
$color5: #18AF67;
$color6: #0BA6C8;

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.button {
  background-color: $primary-button;
  display: inline-flex;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.title {
  color: #fff;
  font-size: 2rem;
  line-height: 2.1rem;
}