.feedback {
  margin-bottom: 4rem;
  color: #fff;
  padding: 4rem 2rem;
  background-color: $second;
  &__container-github {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
  }
  &__ico {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .title--feedback {
    margin-top: 0;
  }
  @media (min-width: $mediun) {
    & {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      justify-items: start;
      align-items: end;
    }
    &__bk-image {
      right: 0;
      top: 0;
      position: absolute;
      width: calc(32.3%);
      height: 100%;
      background-image: url("../../img/woman-github.png");
      mix-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }
  }
}