.footer {
  color: #fff;
  background-color: $primary;
  padding: 4rem 2rem;
  &__item-title {
    font-weight: 700;
  }
  &__item-list {
    font-size: 0.75rem;
    padding-left: 1rem;
  }
  &__item-link {
    color: inherit;
    text-decoration: none;
  }
}