.header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  padding-left: 2rem;
  padding-right: 2rem;

  &__wrap-left {
    display: flex;
    align-items: center;
  }
  &__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: none;
  }
  &__list-item {
    margin-left: 1.2rem;
  }
  &__list-link {
    color: #fff;
    text-decoration: none;
  }
  &__list-link[href="index.html"] {
    font-weight: 700;
  }
  &__button {
    font-weight: 700;
    background-color: $primary-button;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .fa-caret-down {
    margin-left: 0.5rem;
  }
  /*Media queries*/
  @media (min-width: $tablet) {
    &__list {
      display: flex;
    }
  }

}