.main-nav {
  color: $second;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin-bottom: 4rem;
  &__wrap-left {
    display: flex;
    align-items: center;
  }
  &__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: none;
  }
  &__list-item {
    margin-right: 1.2rem;
  }
  &__list-link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }
  &__search {
    display: flex;
    width: 100%;
  }

  &__wrap-left {
    flex-grow: 1;
  }
  &__search-input {
    flex-grow: 1;
    border: 2px solid $primary-button;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    outline: none;
    &::placeholder {
      font-size: 12px;
    }
  }

  &__search-ico {
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: $primary-button;
    color: #fff;
    padding: 0.5rem;
  }
  &__skills {
    display: none;
  }
  &__skills-details {
    margin-left: 1rem;
    font-weight: 700;
  }
  &__skills-ico {
    color: $required;
  }
  &__skills-details:last-child {
    .main-nav__skills-ico {
      color: gray;
    }
  }

  /*Media queries*/
  @media (min-width: $tablet) {
    &__list {
      display: flex;
    }
    &__wrap-left {
      flex-grow: 0;
    }
  }
  @media (min-width: $mediun) {
    &__skills {
      display: flex;
    }
  }
}