@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/*
  font-family: 'Open Sans', sans-serif;
*/

//  headings



.h1 {
  font-size: $size-header-1;
}
.h2 {
  font-size: $size-header-2;
}
.h3 {
  font-size: $size-header-3;
}
.h4 {
  font-size: $size-header-4;
}
.h5 {
  font-size: $size-header-5;
}
.h6 {
  font-size: $size-header-6;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $font-bold;
  margin-top: 0;
}
// styles for text

.p-normal {
  font-size: $size-txt-normal;
}
.p-small {
  font-size: $size-txt-small;
}
.p-ultra-small {
  font-size: $size-txt-ultra-small;
}